extends layout

block append head
  if block_producer_list_empty
    meta(http-equiv="refresh", content="2")

block content
  div.pageheader
    div.pageheaderitem
      img.eoslogo(src='/images/Logo-dark-landscape-v2-1.png')
    div.centre-header
      h1.centre-h1 EOS Voter
    div.pageheaderitem.signupbuttoncontainer
      button.signupbutton(onclick='window.location="/vote"') Vote Now with Scatter
  div.pageheader-spacer
  div.content-container
    div !{landing_page_content}
    p.centre Currently connected to the #{chainname} network. 
    p.centre Chain id = #{chainid}.
    p.centre Percentage of EOS voting #{activated_percent}%
    p.centre #{total_activated_stake} EOS have voted #{min_activated_stake} needed to activate the chain
    if has_activated
        div !{has_activated_message}
        h2.centre Active Block Producers
    else
        h2.centre Block Producer Candidates

    div.block-producer-li7st
      div.block-producer-row
        div.block-producer-cell.block-producer-cell-1.block-producer-column-header &nbsp;
        div.block-producer-cell.block-producer-cell-2.block-producer-column-header Block Producer
        div.block-producer-cell.block-producer-cell-3.block-producer-column-header Current Vote Total
        div.block-producer-cell.block-producer-cell-4.block-producer-column-header Country
        div.block-producer-cell.block-producer-cell-5.block-producer-column-header Comp 
          a(class='fake-bp-whats-this', href='/whats-this-constitutional-compliance', target='_blank') [?]
        div.block-producer-cell.block-producer-cell-6.block-producer-column-header Information

      - var n = 1
      each blockproducer in activeblockproducers
        div.block-producer-row
          div.block-producer-cell.block-producer-cell-1.right #{sprintf(format, n++)} 
          div.block-producer-cell.block-producer-cell-2
            if !blockproducer.fake_bp
              if blockproducer.has_bp_info
                img.bp-small-logo(src=blockproducer.bp_logo_256, onError="this.onerror=null;this.src='';")
                span #{blockproducer.name}
              else
                span(class='bp-json-missing') #{blockproducer.name}
                span(class='bp-json-missing-warning') #{' !WARNING! '}
                a(class='fake-bp-whats-this', href='/whats-this-bp-json-missing', target='_blank') Whats this
            if blockproducer.fake_bp
              span(class='fake-bp-title') #{blockproducer.name} 
              span(class='fake-bp-warning') #{' !CAUTION! '}
              a(class='fake-bp-whats-this', href='/whats-this-bp-name-mismatch', target='_blank') Whats this
          div.block-producer-cell.block-producer-cell-3.right #[span(class='small-vote-total') #{blockproducer.votes_absolute}M] #{blockproducer.votes_percent}
          div.block-producer-cell.block-producer-cell-4 #{blockproducer.country_code}  !{"&nbsp;"}
          div.block-producer-cell.block-producer-cell-5
            if blockproducer.full_compliance
              span.compliance_ok !{'&#10004;'}
            else
              span.compliance_failed !{'&#10008;'}
              
          div.block-producer-cell.block-producer-cell-6 
            if blockproducer.valid_url
              a.statement(href=blockproducer.statement, target='_blank') #{blockproducer.statement}
            else
              div #{blockproducer.statement} !{"&nbsp;"}

    if has_activated
        h2.centre Backup Block Producers

        div.block-producer-list
          div.block-producer-row
            div.block-producer-cell.block-producer-cell-1.block-producer-column-header &nbsp;
            div.block-producer-cell.block-producer-cell-2.block-producer-column-header Block Producer
            div.block-producer-cell.block-producer-cell-3.block-producer-column-header Current Vote Total
            div.block-producer-cell.block-producer-cell-4.block-producer-column-header Country
            div.block-producer-cell.block-producer-cell-5.block-producer-column-header Comp
            div.block-producer-cell.block-producer-cell-6.block-producer-column-header Information

          each blockproducer in backupblockproducers
            div.block-producer-row
              div.block-producer-cell.block-producer-cell-1.right #{sprintf(format, n++)} 
              div.block-producer-cell.block-producer-cell-2
                if !blockproducer.fake_bp
                  img.bp-small-logo(src=blockproducer.bp_logo_256, onError="this.onerror=null;this.src='';")
                  span #{blockproducer.name}
                if blockproducer.fake_bp
                  span(class='fake-bp-title') #{blockproducer.name} 
                  span(class='fake-bp-warning') #{' !CAUTION! '}
                  a(class='fake-bp-whats-this', href='/whats-this-bp-name-mismatch', target='_blank') Whats this
              div.block-producer-cell.block-producer-cell-3.right #[span(class='small-vote-total') #{blockproducer.votes_absolute}M] #{blockproducer.votes_percent}
              div.block-producer-cell.block-producer-cell-4 #{blockproducer.country_code}  !{"&nbsp;"}
              div.block-producer-cell.block-producer-cell-5
                if blockproducer.full_compliance
                  span.compliance_ok !{'&#10004;'}
                else
                  span.compliance_failed !{'&#10008;'}
              div.block-producer-cell.block-producer-cell-6 
                if blockproducer.valid_url
                  a.statement(href=blockproducer.statement, target='_blank') #{blockproducer.statement}
                else
                  div #{blockproducer.statement} !{"&nbsp;"}

      p A service provided by #[a(href='https://eosphere.io', target='_blank') EOSphere] Source code licenced under Affero GNU GPL #[a(href='https://github.com/eosphere/eos-voter', target='_blank') Download source]

